/*font-family: 'Roboto', sans-serif;*/

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}


.card-img-top {
    aspect-ratio: 5/4;
}

@media screen and (max-width:765px) {
    #quienessomos {
        display: none;
    }
}

.mensaje {
    height: 100px;
}

.footer-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



footer a {
    color: #ffffff;
    text-decoration: none;
}